<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Assignments
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Assignments</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Assignments</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ngx-datatable
              class="material"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [selected]="selected"
              [selectionType]="'row'"
              [limit]="10"
              [rows]=rows>
              <ngx-datatable-column name="Installer Name" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Date" [flexGrow]="1">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Time" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Client Name" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Location" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Address" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="buttonsDisabled" *ngIf="row.status.value === 'Done'">
                    <a data-toggle="collapse" data-target="#registry" (dblclick)="getAssignment(); buttonFalse()"><i class="fa fa-edit"></i></a>
                    <a (dblclick)="showChildModal()"><i class="fa fa-clock-o"></i></a>
                  </div>
                  <div *ngIf="row.status.value !== 'Done'">
                    <a data-toggle="collapse" data-target="#registry" (dblclick)="getAssignment(); buttonFalse()"><i class="fa fa-edit"></i></a>
                    <a (dblclick)="showChildModal()"><i class="fa fa-clock-o"></i></a>
                  </div>

                  <!--<a data-toggle="collapse" data-target="#registry" (dblclick)="getAssignment(); buttonFalse()"><i class="fa fa-edit"></i></a>-->
                  <!--<a (dblclick)="showChildModal()"><i class="fa fa-clock-o"></i></a>-->
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- /.box-body -->
        </div>


        <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title pull-left">Change Status</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="changeStatus" style="text-align: center">
                  <select formControlName="status"
                          style="width: 100%; height: 35px; border-radius: 6px">
                    <option value="Active">Active</option>
                    <option value="Canceled">Canceled</option>
                    <option value="Done">Done</option>
                  </select>
                  <div style="padding-top: 5%;">
                    <button (click)="updateStatus(); hideChildModal()" style="text-align: center" type="submit"
                            data-toggle="collapse" data-target="#bills"
                            class="btn btn-success btn-md">
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="supervisor">
      <div class="col-md-12">
        <a (click)="buttonTrue()" id="new" data-toggle="collapse" data-target="#registry"><i
          class="fa fa-plus-circle"></i> New Assignment</a>
      </div>
    </div>
    <div class="row collapse" id="registry">
      <section class="content-header">
        <h1>
          New Assignment
        </h1>
      </section>
      <br><br>
      <div class="col-md-12">
        <form [formGroup]="assignmentsForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Date</label>
            <div class="col-md-4">
              <input type="date" class="form-control" formControlName="date" required>
              <small *ngIf="!assignmentsForm.controls.date.valid" class="text-danger">
                Date is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Time</label>
            <div class="col-md-4">
              <input type="time" class="form-control" formControlName="time" required>
              <small *ngIf="!assignmentsForm.controls.time.valid" class="text-danger">
                Time is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Client Name</label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="clientName" required>
              <small *ngIf="!assignmentsForm.controls.clientName.valid" class="text-danger">
                Client name is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Client Email</label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="clientEmail" required>
              <small *ngIf="!assignmentsForm.controls.clientEmail.valid" class="text-danger">
                Client email is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Location</label>
            <div class="col-md-4">
              <select type="text" class="form-control" formControlName="location" required>
                <option *ngFor="let x of locations" [value]="x.id" [selected]="x.id">{{x.name}}</option>
              </select>
              <small *ngIf="!assignmentsForm.controls.location.valid" class="text-danger">
                Location is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Address</label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="address" required>
              <small *ngIf="!assignmentsForm.controls.address.valid" class="text-danger">
                Address is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Installer</label>
            <div class="col-md-4">
              <select (focus)="getUsers()" type="text" class="form-control" formControlName="name" required>
                <option *ngFor="let x of installers" [value]="x.id" [selected]="x.id">{{x.name}}</option>
              </select>
              <small *ngIf="!assignmentsForm.controls.name.valid" class="text-danger">
                Installer is required.
              </small>
            </div>
          </div>
          <div class="form-group last" *ngIf="save">
            <div class="col-md-12" style="text-align: center;">
              <button (click)="submitForm();" type="submit" class="btn btn-success btn-md">
                Save
              </button>
              <button type="submit" class="btn btn-cancel btn-md">
                Cancel
              </button>
            </div>
          </div>
          <div class="form-group last" *ngIf="!save">
            <div class="col-md-12" style="text-align: center;">
              <button (click)="updateAssignment()" class="btn btn-success btn-md">
                Edit
              </button>
              <button type="submit" class="btn btn-cancel btn-md">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row collapse" id="bills" *ngIf="done">
      <section class="content-header">
        <h1>
          New Bill
        </h1>
      </section>
      <br><br>
      <div class="col-md-12">
        <form [formGroup]="billForm" novalidate>
          <div class="form-group">
            <label>Bill Number</label>
            <input type="number" class="form-control" formControlName="bill_number">
            <!--<small *ngIf="!billForm.controls.bill_number.valid" class="text-danger">-->
              <!--Number is required.-->
            <!--</small>-->
          </div>
          <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date">
            <small *ngIf="!billForm.controls.date.valid" class="text-danger">
              Date is required.
            </small>
          </div>
          <div class="form-group">
            <label>Client Name</label>
            <input type="text" class="form-control" formControlName="clientName">
            <small *ngIf="!billForm.controls.clientName.valid" class="text-danger">
              Name is required.
            </small>
          </div>
          <div class="form-group">
            <label>Client Email</label>
            <input type="text" class="form-control" formControlName="clientEmail">
            <small *ngIf="!billForm.controls.clientEmail.valid" class="text-danger">
              Email is required.
            </small>
          </div>
          <!--details-->
          <div formArrayName="details">
            <div *ngFor="let address of billForm.controls.details.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>Detail {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right"
                      *ngIf="billForm.controls.details.controls.length > 1"
                      (click)="removeDetail(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <div class="form-group col-md-4">
                  <label>Description</label>
                  <input type="text" class="form-control" formControlName="description">
                </div>
                <div class="form-group col-md-4">
                  <label>Quantity</label>
                  <input type="number" class="form-control" formControlName="quantity">
                </div>
                <div class="form-group col-md-4">
                  <label>Unitary cost</label>
                  <input type="number" class="form-control" formControlName="unitary_cost">
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <a id="new" (click)="addDetail()" style="cursor: hand"><i class="fa fa-plus-circle"></i> Add another
              detail</a>
          </div>
          <div class="form-group last">
            <div class="col-md-12" style="text-align: center;">
              <button (click)="saveBill()" type="submit" class="btn btn-success btn-md">
                Save
              </button>
              <button type="submit" class="btn btn-cancel btn-md">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
