#full {
  height: 100vh;
  /*background: url(../../assets/images/slider-4.jpg) no-repeat center center fixed;*/
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/slider-4.jpg);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/slider-4.jpg);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/slider-4.jpg);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/slider-4.jpg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../assets/images/slider-4.jpg);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/slider-4.jpg);
}

.panel-default {
  opacity: 0.9;
  margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.btn-success{
  background: dodgerblue;
  color:white;
  border: solid 1px transparent;
}

.btn-success:hover{
  background: white;
  color:dodgerblue;
  border: solid 1px dodgerblue;
}
