<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Locations
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Locations</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ngx-datatable
              class="material"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [selected]="selected"
              [selectionType]="'row'"
              [limit]="10"
              [rows]=rows>
              <ngx-datatable-column name="Name" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="State" [flexGrow]="2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="City" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Postal Code" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <a (dblclick)="delete()"><i class="fa fa-trash"></i></a>
                  <a data-toggle="collapse" data-target="#registry" (dblclick)="getLocation(); buttonFalse()"><i class="fa fa-edit"></i></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left"><i style="color:red; font-size: 20px" class="fa fa-exclamation-triangle"></i>Oops! Something went wrong.</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Something went wrong! Please try again.</p>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #successfulModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left"><i style="color:green; font-size: 20px" class="fa fa-exclamation-triangle"></i> Great!</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideSuccessfulModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>The action was successful.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a (click)="buttonTrue()" id="new" data-toggle="collapse" data-target="#registry"><i class="fa fa-plus-circle"></i> New Location</a>
      </div>
    </div>
    <div class="row collapse" id="registry">
      <section class="content-header" *ngIf="save">
        <h1>
          New Location
        </h1>
      </section>
      <section class="content-header" *ngIf="!save">
        <h1>
          Update Location
        </h1>
      </section>
      <br><br>
      <div class="col-md-12">
        <form [formGroup]="locationsForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Name</label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="name" required>
              <small *ngIf="!locationsForm.controls.name.valid" class="text-danger">
                Name is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              State</label>
            <div class="col-md-4">
              <select type="text" class="form-control" formControlName="state" required>
                <option value="Florida">Florida</option>
              </select>
              <small *ngIf="!locationsForm.controls.state.valid" class="text-danger">
                State is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              City</label>
            <div class="col-md-4">
              <select type="text" class="form-control" formControlName="city" required>
                <option value="Miami">Miami</option>
              </select>
              <small *ngIf="!locationsForm.controls.city.valid" class="text-danger">
                City is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Postal Code</label>
            <div class="col-md-4">
              <input type="text" class="form-control" formControlName="postalCode" required>
              <small *ngIf="!locationsForm.controls.postalCode.valid" class="text-danger">
                Postal Code is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Latitude</label>
            <div class="col-md-4">
              <input type="number" class="form-control" formControlName="lat" required>
              <small *ngIf="!locationsForm.controls.lat.valid" class="text-danger">
                Latitude is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">
              Longitude</label>
            <div class="col-md-4">
              <input type="number" class="form-control" formControlName="long" required>
              <small *ngIf="!locationsForm.controls.long.valid" class="text-danger">
                Longitude is required.
              </small>
            </div>
          </div>
          <!--<div class="form-group">-->
            <!--<div class="col-md-offset-3 col-md-5">-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group last" *ngIf="save">
            <div class="col-md-12" style="text-align: center;">
              <button data-toggle="collapse" data-target="#registry" (click)="submitForm()" class="btn btn-success btn-md">
                Save</button>
              <button (click)="cancelButton()"  data-toggle="collapse" data-target="#registry" class="btn btn-cancel btn-md">
                Cancel</button>
            </div>
          </div>

          <div class="form-group last" *ngIf="!save">
            <div class="col-md-12" style="text-align: center;">
              <button (click)="updateLocation()" data-toggle="collapse" data-target="#registry"  class="btn btn-success btn-md">
                Update</button>
              <button (click)="cancelButton()" data-toggle="collapse" data-target="#registry" class="btn btn-cancel btn-md">
                Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
