<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Bills
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Users</li>
    </ol>
  </section>


  <div class="col-md-10 col-md-offset-1 margin-15">
    <div class="table-responsive">
      <table class="table table-hover">
        <caption>{{total}} results found</caption>
        <caption>showing results from {{from}} to {{to}}</caption>
        <thead>
        <tr>
          <th (click)="sortByBillNumber()"> Bill Number</th>
          <th (click)="sortByClientName()"> Client Name</th>
          <th (click)="sortByTotal()"> Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bill of bills" (click)="showDetails(bill)">
          <td>{{bill.bill_number}}</td>
          <td>{{bill.client_name}}</td>
          <td>{{bill.total}}</td>
          <!--<td (click)="openModal(item)">ADD EDIT ETC...</td>-->
        </tr>
        </tbody>
        <tfoot>
            <button (click)="getMoreResults(previous)" class="btn btn-primary">Previous</button>
            <button (click)="getMoreResults(next)" class="btn btn-primary">Next</button>
        </tfoot>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" data-target="#registry"><i class="fa fa-plus-circle"></i> New Bill</a>
    </div>
  </div>


  <div class="row collapse" id="registry">
    <section class="content-header">
      <h1>
        New Bill
      </h1>
    </section>
    <br><br>
    <div class="col-md-12">


      <form [formGroup]="billForm" novalidate (ngSubmit)="save(billForm)">
        <div class="form-group">
          <label>Client Name *</label>
          <input type="text" class="form-control" formControlName="client_name">
        </div>
        <!--details-->
        <div formArrayName="details">
          <div *ngFor="let address of billForm.controls.details.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Detalle {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="billForm.controls.details.controls.length > 1"
                    (click)="removeDetail(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-md-4">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
              <div class="form-group col-md-4">
                <label>Quantity</label>
                <input type="text" class="form-control" formControlName="quantity">
              </div>
              <div class="form-group col-md-4">
                <label>Unitary cost</label>
                <input type="text" class="form-control" formControlName="unitary_cost">
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addDetail()" style="cursor: default">
            Add another detail +
          </a>
        </div>

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!billForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{billForm.valid | json}}</pre>
          <pre>form value: <br>{{billForm.value | json}}</pre>
        </div>
      </form>
    </div>
  </div>
  <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="details" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center"><strong>Invoice details</strong></h4>
      </div>
      <div class="modal-body text-center">
        <table class="table">
          <thead>
          <tr>
            <td><strong>Description</strong></td>
            <td><strong>Quantity</strong></td>
            <td><strong>Unitary price</strong></td>
            <td><strong>Tax</strong></td>
            <td><strong>Total</strong></td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let detail of invoiceDetails">
            <td>{{detail.description}}</td>
            <td>{{detail.quantity}}</td>
            <td>{{detail.unitary_price}}</td>
            <td>{{detail.tax}}</td>
            <td>{{detail.total}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
