<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Bills
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Bills</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ngx-datatable
              class="material"
              [columnMode]="'flex'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [selected]="selected"
              [selectionType]="'row'"
              [limit]="10"
              [rows]=rows>
              <ngx-datatable-column name="Bill Number" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Date" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Client Name" [flexGrow]="2">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Client Email" [flexGrow]="3">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Total" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="PDF" [flexGrow]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <a href="{{value}}"><i class="fa fa-file-pdf-o"></i></a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" [flexGrow]="2">
                <ng-template let-value="value" ngx-datatable-cell-template>
                 <a data-toggle="collapse" data-target="#registry" (dblclick)="getBill()"><i class="fa fa-edit"></i></a>
                  <a (click)="showChildModal()"><i class="fa fa-eye"></i></a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content" *ngFor="let sel of selected">
          <div class="modal-header">
            <h4 class="modal-title pull-left"><b>Bill</b> {{sel.billNumber}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="bill">
              <h4><b>Client name:</b> {{sel.clientName}}</h4>
              <br>
              <div class="col-md-offset-1 col-md-10">
                <table  style="margin-bottom: 2%">
                  <tr>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Cost</th>
                  </tr>
                  <tr *ngFor="let det of sel.details.data">
                    <td>{{det.quantity}}</td>
                    <td>{{det.description}}</td>
                    <td>{{det.cost}}</td>
                  </tr>
                </table>
              </div>
              <h4><b>Total:</b> {{sel.total}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<a id="new" data-toggle="collapse" data-target="#registry"><i class="fa fa-plus-circle"></i> New Bill</a>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row collapse" id="registry">
      <section class="content-header">
        <h1>
          New Bill
        </h1>
      </section>
      <br><br>
      <div class="col-md-12">
        <form [formGroup]="billForm" novalidate>
          <div class="form-group">
            <label>Bill Number</label>
            <input type="number" class="form-control" formControlName="bill_number">
            <small *ngIf="!billForm.controls.bill_number.valid" class="text-danger">
              Number is required.
            </small>
          </div>
          <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" formControlName="date">
            <small *ngIf="!billForm.controls.date.valid" class="text-danger">
              Date is required.
            </small>
          </div>
          <div class="form-group">
            <label>Client Name</label>
            <input type="text" class="form-control" formControlName="clientName">
            <small *ngIf="!billForm.controls.clientName.valid" class="text-danger">
              Name is required.
            </small>
          </div>
          <div class="form-group">
            <label>Client Email</label>
            <input type="text" class="form-control" formControlName="clientEmail">
            <small *ngIf="!billForm.controls.clientEmail.valid" class="text-danger">
              Email is required.
            </small>
          </div>
          <!--details-->
          <div formArrayName="details">
            <div *ngFor="let address of billForm.controls.details.controls; let i=index" class="panel panel-default">
              <div class="panel-heading">
                <span>Detail {{i + 1}}</span>
                <span class="glyphicon glyphicon-remove pull-right"
                      *ngIf="billForm.controls.details.controls.length > 1"
                      (click)="removeDetail(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <div class="form-group col-md-4">
                  <label>Description</label>
                  <input type="text" class="form-control" formControlName="description">
                </div>
                <div class="form-group col-md-4">
                  <label>Quantity</label>
                  <input type="number" class="form-control" formControlName="quantity">
                </div>
                <div class="form-group col-md-4">
                  <label>Unitary cost</label>
                  <input type="number" class="form-control" formControlName="unitary_cost">
                </div>
              </div>
            </div>
          </div>
          <div class="">
            <a id="new" (click)="addDetail()" style="cursor: hand"><i class="fa fa-plus-circle"></i> Add another detail</a>
          </div>
          <div class="form-group last">
            <div class="col-md-12" style="text-align: center;">
              <button (click)="updateBill()" type="submit" class="btn btn-success btn-md">
                Edit</button>
              <button type="submit" class="btn btn-cancel btn-md">
                Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

