@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../assets/admin/bootstrap/css/bootstrap.min.css';

table, th, tr, td{
  border:solid 1px lightsteelblue;
  text-align: center;

}

th{
  background: lightsteelblue;
}

.bill{
  background: transparent;
  color:black;
}

#new{
  float: right;
  font-size: 17px;
  font-weight: 600;
  color:dodgerblue;
  cursor:hand;
}

#new i{
  font-size: 20px;
}

.btn-success{
  background: dodgerblue;
  color:white;
  border: solid 1px transparent;
}

.btn-success:hover{
  background: white;
  color:dodgerblue;
  border: solid 1px dodgerblue;
}

.btn-cancel{
  background: red;
  color:white;
  border: solid 1px transparent;
}

.btn-cancel:hover{
  background: white;
  color:red;
  border: solid 1px red;
}

.fa-file-pdf-o{
  font-size: 20px;
  color:red;
  padding: 5px;
}

.fa-edit{
  font-size: 20px;
  color:dodgerblue;
  padding: 5px;
  margin-top: 1%;
}

.fa-eye{
  font-size: 20px;
  color:orange;
  padding: 5px;
  margin-top: 1%;
}

.fa-file-pdf-o:hover{
  color:darkred;
  cursor:pointer;
}

.fa-edit:hover{
  color:darkblue;
  cursor:pointer;
}

.fa-eye:hover{
  color:darkorange;
  cursor:pointer;
}

#new:hover{
  color:darkblue;
  cursor:pointer;
}

