<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Bills
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Users</li>
    </ol>
  </section>


  <table datatable class="row-border hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Foo</td>
      <td>Bar</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Someone</td>
      <td>Youknow</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Iamout</td>
      <td>Ofinspiration</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Yoda</td>
      <td>Skywalker</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Patrick</td>
      <td>Dupont</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Barack</td>
      <td>Obama</td>
    </tr>
    <tr>
      <td>7</td>
      <td>François</td>
      <td>Holland</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Michel</td>
      <td>Popo</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Chuck</td>
      <td>Norris</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Simon</td>
      <td>Robin</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Louis</td>
      <td>Lin</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Zelda</td>
      <td>Link</td>
    </tr>
    </tbody>
  </table>





  <div class="row">
    <div class="col-md-12">
      <a data-toggle="collapse" data-target="#registry"><i class="fa fa-plus-circle"></i> New Bill</a>
    </div>
  </div>


  <div class="row collapse" id="registry">
    <section class="content-header">
      <h1>
        New Bill
      </h1>
    </section>
    <br><br>
    <div class="col-md-12">


      <form [formGroup]="billForm" novalidate (ngSubmit)="save(billForm)">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="client_name">
          <small *ngIf="!billForm.controls.client_name.valid" class="text-danger">
            Name is required (minimum 5 characters).
          </small>
        </div>
        <!--details-->
        <div formArrayName="details">
          <div *ngFor="let address of billForm.controls.details.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Detalle {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="billForm.controls.details.controls.length > 1"
                    (click)="removeDetail(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-md-4">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
              <div class="form-group col-md-4">
                <label>Quantity</label>
                <input type="text" class="form-control" formControlName="quantity">
              </div>
              <div class="form-group col-md-4">
                <label>Unitary cost</label>
                <input type="text" class="form-control" formControlName="unitary_cost">
              </div>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addDetail()" style="cursor: default">
            Add another detail +
          </a>
        </div>

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!billForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{billForm.valid | json}}</pre>
          <pre>form value: <br>{{billForm.value | json}}</pre>
        </div>
      </form>

    </div>
  </div>
  <!-- /.content -->
</div>

<!--<script>-->
<!--$(function () {-->
<!--$("#example1").DataTable();-->
<!--});-->
<!--</script>-->
